.table {
  margin-top: 15px;
  margin-bottom: 30px;
  &__form {
    margin-bottom: 30px;
  }
  &-input {
    width: 50px;
    height: 25px;
  }

  &-btn {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 5px;
    color: white;
    background-color: #171d47;
    &:hover {
      transition: all ease-in-out 0.7s;
      background-color: #0c0e25;
    }
  }
}